@import 
url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');


table {
    font-family: arial, sans-serif;
    width: 100%;
    border: 1px solid #dddddd;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 30%;
}




